@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: theme('spacing.4');
    background: theme('colors.gray.600');
    border-radius: theme('borderRadius.full');
    outline: none;
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  }

  /* Mouse-over effects */
  .slider:hover {
    background: theme('colors.gray.500');
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: theme('spacing.4');
    height: theme('spacing.4');
    background: theme('colors.yellow.400');
    border-radius: theme('borderRadius.full');
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: theme('spacing.4');
    height: theme('spacing.4');
    background: theme('colors.yellow.400');
    cursor: pointer;
  }
}
